<div id="topnav" class="topnav pro">
  <ul id="navigation" class="navigation" role="navigation">

    <li class="<%= 'selected' if params[:controller] == 'alaveteli_professional' and params[:action] == 'write_request_v2' %>">
      <%= link_to _("Start new request"), ap_write_request_v2_path, :id => 'make-request-link' %>
    </li>

    <li class="<%= 'selected' if params[:controller] == 'alaveteli_professional' and params[:action] == 'dashboard' %>">
      <%= link_to _("Dashboard"), ap_dashboard_path, :id => 'dashboard-link' %>
    </li>

    <li class="<%= 'selected' if params[:controller] == 'alaveteli_professional' and params[:action] == 'requests' %>">
      <%= link_to _("Requests"), ap_requests_path, :id => 'requests-link' %>
    </li>

    <li class="<%= 'selected' if params[:controller] == 'alaveteli_professional' and params[:action] == 'account' %>">
      <%= link_to _("Account"), "#", :id => 'account-link' %>
    </li>

    <li class="js-more-menu-link">
      <%= link_to _("More"), "#", :id => 'more-link' %>

      <div class="more-menu js-hide js-more-menu">
        <ul>
          <li class="<%= 'selected' if params[:controller] == 'request' and !['new', 'select_authority'].include?(params[:action]) %>">
            <%= link_to _("Browse requests"), request_list_successful_path %>
          </li>

          <li class="<%= 'selected' if params[:controller] == 'public_body' %>">
            <%= link_to _("View authorities"), list_public_bodies_default_path %>
          </li>

          <% unless AlaveteliConfiguration::blog_feed.empty? %>
            <li class="<%= 'selected' if params[:controller] == 'general' and params[:action] == 'blog' %>"><%= link_to _("Read blog"), blog_path %></li>
          <% end %>

          <li class="<%= 'selected' if params[:controller] == 'help' %>">
            <%= link_to _("Help"), help_about_path %>
          </li>
        </ul>
      </div>
    </li>

    <li class="account-link-menu-item" >
      <% if ! (controller.action_name == 'signin' or controller.action_name == 'signup') %>
        <%= render partial: 'alaveteli_professional/shared/logged_in_menu' %>
      <% else %>
        <%= link_to _("Sign in or sign up"), signin_path(:r => request.fullpath) %>
      <% end %>
    </li>
  </ul>
</div>
