<form accept-charset="UTF-8" action="/ap/request_waiting" class="new_info_request" id="preview_form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"><input name="authenticity_token" value="h7T9BLeXXSrYboogv8eMWN8tmGilDbFTG0SyfZRG1QE=" type="hidden"><input name="show_new_request_flash" value="1" type="hidden"></div>
  <h1>Preview your request</h1>

  <div class="message-preview">
    <div class="preview-advice">
      <div class="advice-panel">
        <ul>
          <li>
        </ul>
      </div>
    </div>

    <div class="preview-pane">

        <div class="correspondence box" id="outgoing-0">
          <p class="preview_to">
            <strong>To</strong>
              <%= @info_request[:public_body][:name] %>

          </p>
          <p class="preview_subject">
            <strong>Subject</strong> <%= @info_request[:title] %>
          </p>

          <div class="correspondence_text">
            <%= simple_format @outgoing_message[:body] %>
          </div>

          <p class="event_actions"></p>
        </div>

      <p>
        <input type="hidden" name="info_request[title]" value="<%= @info_request[:title] %>">
        <input type="hidden" name="info_request[public_body_id]" value="<%= @info_request[:public_body_id] %>">
        <input type="hidden" name="outgoing_message[body]" value="<%= @outgoing_message[:body] %>">
        <input type="hidden" name="set_embargo" value="<%= @set_embargo %>">
        <input type="hidden" name="set_embargo_default" value="<%= @set_embargo_default %>">
        <input type="hidden" name="embargo[duration]" value="<%= @embargo[:duration] %>">
        <a id="reedit_button" href="/ap/write_request_v2">Edit your request</a>
        <input data-disable-with="Sending..." id="submit_button" name="submit" value="Send request" type="submit">
      </p>

    </div>
  </div>
</form>